<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.alterebro.counter-app"
    version     = "0.3.1" >
    <name>counter-app</name>
    <description>This is just a counter web application, that simply count things, it doesn't do anything else.</description>
    <author href="https://moro.es">Jorge Moreno, @alterebro</author>

    <icon src="static/counter-app-icon.png" />
    <platform name="android"></platform>
</widget>
