<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.alterebro.counter-app" version="0.4.10">
  <name>Counter App</name>
  <description>This is just a counter web application, that simply count things, it doesn't do anything else.</description>
  <author href="https://moro.es">Jorge Moreno, @alterebro</author>
  <preference name="android-targetSdkVersion" value="28"/>
  <plugin name="cordova-plugin-whitelist" spec="1.3.1"/>
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <icon src="img/counter-app-icon.png"/>
  <platform name="android"/>
</widget>