<?xml version="1.0"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.alterebro.counter-app" version="0.4.3">
  <name>Counter App</name>
  <description>This is just a counter web application, that simply count things, it doesn't do anything else.</description>
  <author href="https://moro.es">Jorge Moreno, @alterebro</author>
  <preference name="android-targetSdkVersion" value="28"/>
  <plugin name="cordova-plugin-whitelist" version="1"/>
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <plugin name="cordova-plugin-splashscreen"/>
  <preference name="SplashScreen" value="splash"/>
  <preference name="SplashMaintainAspectRatio" value="true"/>
  <preference name="SplashShowOnlyFirstTime" value="false"/>
  <preference name="AutoHideSplashScreen" value="true"/>
  <preference name="SplashScreenDelay" value="2600"/>
  <preference name="ShowSplashScreenSpinner" value="false"/>
  <icon src="counter-app-icon.png"/>
  <splash src="counter-app.jpg"/>
  <platform name="android"/>
</widget>