<?xml version="1.0"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.alterebro.counter-app" version="0.4.0">
  <name>Counter App</name>
  <description>This is just a counter web application, that simply count things, it doesn't do anything else.</description>
  <author href="https://moro.es">Jorge Moreno, @alterebro</author>
  <preference name="android-targetSdkVersion" value="28"/>
  <icon src="counter-app-icon.png"/>
  <platform name="android"/>
</widget>